.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    overflow: hidden;

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr ;
    }

    @media screen and (min-width: 1150px) {
      grid-template-columns: 1fr 1fr 1fr ;
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
